### Importar bibliotecas

In [61]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import *
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix
import mlflow
import mlflow.sklearn

### Data Set

In [21]:
credito = pd.read_csv('Credit.csv')
credito.shape

(1000, 21)

In [23]:
for col in credito.columns:
    if credito[col].dtype == "object":
        credito[col] = credito[col].astype('category').cat.codes

In [27]:
credito.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,1,6.0,1,6,1169.0,4,3,4.0,3,2,...,3,67.0,1,1,2.0,1,1.0,1,1,1
1,0,48.0,3,6,5951.0,2,0,2.0,0,2,...,3,22.0,1,1,1.0,1,1.0,0,1,0
2,3,12.0,1,2,2096.0,2,1,2.0,3,2,...,3,49.0,1,1,1.0,3,2.0,0,1,1
3,1,42.0,3,3,7882.0,2,1,2.0,3,1,...,1,45.0,1,0,1.0,1,2.0,0,1,1
4,1,24.0,2,4,4870.0,2,0,3.0,3,2,...,2,53.0,1,0,2.0,1,2.0,0,1,0

### Seprar conjuntos train e test

In [32]:
previsores = credito.iloc[:,0:20].values
classe = credito.iloc[:,20].values

In [34]:
X_train, X_test, y_train, y_test = train_test_split(previsores, classe, test_size=0.3, random_state=123)

### Treinamento do Algoritmo

In [59]:
# Avaliando o desempenho do modelo

acuracia = accuracy_score(y_test, previsoes)
recall = recall_score(y_test, previsoes)
precision = precision_score(y_test, previsoes)
f1 = f1_score(y_test, previsoes)
auc = roc_auc_score(y_test, previsoes)
log = log_loss(y_test, previsoes)

In [55]:
# Criar experimento

mlflow.set_experiment("naiveBayes_experimento")

# Run do experimento
with mlflow.start_run():
    naive_bayes = GaussianNB()
    naive_bayes.fit(X_train, y_train)
    previsoes = naive_bayes.predict(X_test)

    #mÃ©tricas
    acuracia = accuracy_score(y_test, previsoes)
    recall = recall_score(y_test, previsoes)
    precision = precision_score(y_test, previsoes)
    f1 = f1_score(y_test, previsoes)
    auc = roc_auc_score(y_test, previsoes)
    log = log_loss(y_test, previsoes)

    #registrar mÃ©tricas
    mlflow.log_metric("acuracia", acuracia)
    mlflow.log_metric("recall", recall)
    mlflow.log_metric("precision", precision)
    mlflow.log_metric("f1", f1)
    mlflow.log_metric("auc", auc)
    mlflow.log_metric("log", log)